.DS_Store

doc/example/auto/

*.aux

*.bbl

*.bcf

*.blg

*.log

*.out

*.xml

*.toc

\.DS_Store

doc/example/\.#thesis\.tex

*.gz

*.el

Excellent_doctoral_thesis/Phd_Thesis_intro_in_chinese\.pdf

Excellent_doctoral_thesis/\.#Phd_Thesis_intro_in_chinese\.tex

*.brf

Excellent_doctoral_thesis/_region_\.tex

*.fdb_latexmk

*.fls

Excellent_doctoral_thesis/_region_\.pdf

Excellent_doctoral_thesis/Phd_Thesis_intro_in_chinese\.prv/tmpAvPgbR/
*.nav

presentation/2019PKU\.snm
